.head_nav_fullbox {
  height: 30px;
}

.head_nav_fullbox_box {
  display: flex;
  width: 1000px;
  height: 30px;
  margin: 0px auto;
  justify-content: flex-end;
  align-items: center;
}

.main_head_box {
  display: flex;
  justify-content: center;
}
/* nav-bar */
/* nav-bar */
/* nav-bar */

.main_menu_bg_box {
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid #1164f4;
  padding-bottom: 2px;
  margin-bottom: 25px;
}
.main_menu_bg_box_li {
  position: relative;
  list-style: none;
  position: relative;
  display: flex;
  width: 1000px;
  margin: 0px auto;
}
.main_menu_bg_box_li ul {
  position: relative;
  width: 700px;
  display: flex;
  white-space: nowrap;
  /* justify-content: space-around; */
}

.main_menu_bg_box_li li {
  display: flex;
  position: relative;
  font-size: 20px;
  height: 40px;
  align-items: center;
  justify-content: center;
  clear: both;
  padding: 0px 22.5px;
}
.main_menu_bg_box_li .drop-box-area > li:not(:last-child) {
  color: #1164f4;
}

.main_menu_box span {
  font-size: 18px;
}

.search_box {
  display: flex;
  width: 240px;
  height: 30px;
  border-radius: 15px;
  align-items: center;
  margin-left: 60px;
  border: 1px solid transparent;
  justify-content: space-between;
}
.search_box i {
  margin-right: 10px;
  transition: all 0.3s linear;
}
.search_box input {
  border: none;
  height: 10px;
  width: 200;
  margin-left: 10px;
}

.search_box:focus-within {
  border: 1px solid black;
  border-color: black;
}

.main_menu_bg_box_li__size li {
  position: relative;
}
