.hotlayout {
  width: 270px;
  height: 555px;
  border-radius: 4px;
  border: 1px solid #707070;
}

.footer_box {
  width: 100%;
  margin-top: 100px;
  height: 150px;
  background-color: #f5f5f5;
}

.login_header_box {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid#707070;
  padding-bottom: 15px;
}

.social_login_pannel {
  display: flex;
  background: transparent;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 15px;
  color: rgba(223,190,106,0.7);
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  border-radius: 20px;
  transition: all 0.5s ease-out;
  background: linear-gradient(127deg,  #FFDC00, rgba(255, 255, 255, 0.8), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
  background-position: 40% 100%;
  background-size: 300% 300%;
  border: none;
  border: 1px solid #FFDC00;
}

.social_login_pannel:hover {
  background-position: 11% 1%;
  color: rgba(255, 255, 255, 0.7);
  
}

.email_login_pannel {
  display: flex;
  background: transparent;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
  color: #1164f4;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  background: linear-gradient(127deg, #1164f4, rgba(255, 255, 255, 0.8), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
  background-position: 40% 100%;
  background-size: 300% 300%;
  border: none;
  border: 1px solid #1164f4;
}


.email_login_pannel:hover {
  background-position: 11% 1%;
  color: rgba(255, 255, 255, 0.7);
  

}

.login_navbar {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin: 10px 12px 0px 5px;
  color: #565656;
}

.login_nav_text {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin: 10px 12px 0px 5px;
  color: #565656;
}

.footer_box {
  display: flex;
  color: #a5a5a5;
  align-items: center;
  justify-content: center;
}

.boldline {
  position: absolute;
  top: 34px;
  width: 57px;
  height: 1;
  border-bottom: 3px solid #707070;
}
